<!-- main template -->
<div class="header">
    <h3 align="center">Welcome to CF-chat (Version {{version}})</h3>
    <div class="input">
        <label>User name : </label>
        <input ng-model="msg.user_name"/><br/>
    </div>
</div>

<ul class="box content" id="messages" ng-style="style()" resize>
    <li ng-repeat="msg in messages">{{msg}}</li>
</ul>

<form action="">
    <input ng-model="msg.message"/>
    <button type="submit" ng-click="submitMessage()">Send</button>
</form>
