<!-- main template -->
<div class="header">
    <!--<img src="img/App_grau.gif" style="float:right;width:144px;height:89px;">-->
    <img src="img/App_grau.png" style="float:right;width:89px;height:89px">
    <h3 align="center">Welcome to CF-chat (Version {{version}})</h3>
    <div class="input">
        <label>User name : </label>
        <input ng-model="msg.user_name"/><br/>
    </div>
    <div class="input">
        <label>Filter : </label>
        <input ng-model="msgFilter"/>
    </div>
</div>

<ul class="box content" id="messages" ng-style="style()" resize>
    <li ng-repeat="msg in messages | filter:msgFilter">{{msg}}</li>
</ul>

<form action="">
    <input ng-model="msg.message"/>
    <button type="submit" ng-click="submitMessage()">Send</button>
</form>
